Makefile.in
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
stamp-h1
config.h.in
config.h
build-aux
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*~
.deps
.libs
.dirstamp
*.o
*.lo
*.a

Makefile
config.log
config.status
libtool

libseagull.la
seagull

